{% extends 'base.html' %}

{% block title %}
    <title>Edit Task - TaskTodo</title>
{% endblock title %}
    
{% block content %}
    {% if task_obj.user == request.user %}
        <form method="POST" class="row">
            {% csrf_token %}
            <input type="text" class="form-control col-lg-10" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}" aria-describedby="Edit Task">
            <input type="hidden" name="done" value="{{ task_obj.done }}" aria-describedby="Edit Task">
            <button type="submit" class="btn btn-primary col-lg-2">Add Task</button>
        </form>
    {% else %}
        <h2>Access Restricted!</h2>    
    {% endif %}
{% endblock content %}